

@media only screen and (min-width: 100px) and (max-width: 1200px)
{
    #wp{
        position: fixed;
        right: 10% !important;
    }
    .mygd{
        display: block;
        text-align: center;
        
    }
   .Htop{
    object-fit: contain;
    max-width: 100%;
   }
    .selectNav{
        display: block;
    }
    .contactR{
        margin-top: 6%;
        display: block;
    }
    .myNavGrid{
        display: flex
        ;
    }
    #BMnav{
        display: none;
    }
    .CRG{
        margin: 5px 50px;
        margin-left: 10%;
    }
    .respo{
        display: grid;
        grid-template-rows: auto auto;
    }
    #logo{
        margin: 20px 0;
    }
    #nav{
        height: 4vh;
        font-size: small;
        width: 62vw;
        margin-top: 10%;
        margin-left: -20%;
    }
    #SSIF{
        display: none;
    }
    .myCources{
        font-size: 5px;
    }
    .pacbt{
        font-size: 5px;

    }
    .OCSG{
        margin: -8% auto !important;
    }
    .OCSG4{
        display: block !important;
        margin: auto !important;
    }
    .OCSGF{
        margin: 2% auto !important;
        width: 65% !important;
    }
    .OCSGimg{
        width: 100% !important;
    }
    .news-message {
        overflow: hidden;
        width: 210px;
        margin-left: -45px;
        font-size: 8px;
    }
    .itsme{
        margin: 2% auto;
    }
    .iNG{
        display: block;
        text-align: center;
    }
    #wp{
        right: 45%;
    }
    *img{
        width: 20vw !important;
    }
    .stdwork{
        margin: -3vmin !important;
    }
    .itsme{
        display: block !important;
    }
    .nfotcont{
        font-size: 1.5vmin;
    }
   
}
